@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*,
*::after,
*::before {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    font-family: "Bricolage Grotesque", sans-serif;
}

:root {
    --white1: #ffffff;
    --white2: #F7F6F4;

    --orange1: #F9E6D0;
    --orange2: #FDF7F1;

    --darkGreen: #00373E;

    --variantBlue: #4CCBBB;
    --variantYellow: #EFC01D;
    --variantPink: #F39CAC;

    --grey: #B8B8B8;
}

/* Style Navbar */
.navbar {
    height: 91px;
    width: 1240px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--darkGreen);
    align-items: center;
}

.links {
    /* border: 1px solid blue; */
    display: flex;
    gap: 70px;
}

.link-menu {
    color: var(--darkGreen);
    text-decoration: none;
    font-size: 18px;
}

.brand-name {
    font-size: 50px;
}

/* end of Style Navbar */