.navbar {
    height: 91px;
    width: 1240px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--darkGreen);
    align-items: center;
}

.links {
    /* border: 1px solid blue; */
    display: flex;
    gap: 70px;
}

.link-menu {
    color: var(--darkGreen);
    text-decoration: none;
    font-size: 18px;
}

.brand-name {
    font-size: 50px;
}
